<form class="form-signin" [formGroup]="registerForm" (submit)="register()">
  <div class="text-center mb-4">
    <img class="mb-4" src="https://getbootstrap.com/docs/4.0/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
    <h1 class="h3 mb-3 font-weight-normal">Angular App</h1>
  </div>

  <div class="form-label-group">
    <input formControlName="name" type="text" id="name" class="form-control" placeholder="Name" required  [ngClass]="{'is-invalid': isSubmitted && registerForm.controls.name.invalid}">
    <label for="name">Name</label>
  </div>

  <div class="form-label-group has-error">
    <input formControlName="email" type="email" id="email" class="form-control" placeholder="Email address" required [ngClass]="{'is-invalid': isSubmitted && registerForm.controls.email.invalid}">
    <label for="email">Email address</label>
  </div>

  <div class="form-label-group">
    <input formControlName="password" type="password" id="inputPassword" class="form-control" placeholder="Password" required [ngClass]="{'is-invalid': isSubmitted && registerForm.controls.password.invalid}">
    <label for="inputPassword">Password</label>
  </div>
 
  <button class="btn btn-lg btn-primary btn-block" type="submit">Register</button>
  
  <p class="mt-5 mb-3 text-muted text-center">&copy; 2019-2020</p>
</form>